

.Form {
  margin-top: 30px;    /*topからの高さ調整*/
  margin-left: 5px;   /*左端からの距離*/
  margin-right: auto;  /*右端からの距離*/
  max-width: 1300px;    /*最大幅*/


}
@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}
.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 1px;
  padding-bottom:1px;
  width: 100%;
  display: flex;
  align-items: center;


}
@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}
.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}












/*項目名の吹き出し*/
.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em; /*項目名の吹き出しの文字と文字の間隔*/
  font-weight: bold;
  font-size: 15px;
}
.Form-Item-Label-Required {
  border-radius: 6px;       /*項目名の吹き出しの丸み*/
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 235px;             /*項目名の吹き出しの幅*/
  display: inline-block;
  text-align: center;
  background: #191970;
  color: #fff;
  font-size: 14px;
}

/*項目名の吹き出し(参照項目の場合)*/
.Form-Item-Label-Readonly {
  border-radius: 6px;       /*項目名の吹き出しの丸み*/
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 235px;             /*項目名の吹き出しの幅*/
  display: inline-block;
  text-align: center;
  background: #008000;
  color: #fff;
  font-size: 14px;
}

/*項目名の吹き出し(任意項目の場合)*/
.Form-Item-Label-Optional {
  border-radius: 6px;       /*項目名の吹き出しの丸み*/
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 235px;             /*項目名の吹き出しの幅*/
  display: inline-block;
  text-align: center;
  background: #696969;
  color: #fff;
  font-size: 14px;
}







/*入力部テキストボックス*/
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 1px;   /*項目名の吹き出し～入力部の距離*/
  padding-left: 1em;
  padding-right: 1em;
  height: 38px;
  flex: 1;
  width: 50%;
  max-width: 400px;
  background: #eaedf2;
  font-size: 18px;
}



/*入力部テキストボックス(長め)*/
.Form-Item-Input-Long {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 1px;   /*項目名の吹き出し～入力部の距離*/
  padding-left: 1em;
  padding-right: 1em;
  height: 38px;
  flex: 1;
  width: 1300px;
  max-width: 1300px;
  background: #eaedf2;
  font-size: 18px;
}


/*入力部テキストボックス(ドロップダウンリスト用)*/
.Form-Item-Input-DDL {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 1px;   /*項目名の吹き出し～入力部の距離*/
  padding-left: 1em;
  padding-right: 1em;
  height: 38px;
  flex: 1;
  width: 100px;
  max-width: 100px;
  background: #eaedf2;
  font-size: 18px;
  text-align: center;
}

/*入力部テキストボックス(カレンダー用)*/
.Form-Item-Input-CLN {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 1px;   /*項目名の吹き出し～入力部の距離*/
  padding-left: 1em;
  padding-right: 1em;
  height: 38px;
  flex: 1;
  width: 200px;
  max-width: 200px;
  background: #eaedf2;
  font-size: 18px;
  text-align: center;
}






@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}


@media screen and (max-width: 480px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}







/*テキストエリア(複数行書けるテキストBOX)設定*/

.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Btn {
  border-radius: 6px;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 150px;
  display: block;
  letter-spacing: 0.05em;
  background: #ff4500;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}



.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}




.btn-square-select {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f5f5f5;/*ボタン色*/
  color: #000000;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square-select:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}



























.FileBtn {
  color: #fff;
  background-color: #eb6100;
  color: #fff;
  background: #f56500;
  border-radius: 100vh;
}


.File--Btn {
  border-radius: 6px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 50px;
  display: block;
  letter-spacing: 0.1em;
  background: #5bc8ac;
  color: #000;
  font-weight: bold;
  font-size: 5px;
}














.balloon1-right {
  position: relative;
  display: inline-block;
  /*margin: 1.5em 15px 1.5em 0;*/
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #99FF66;
}

.balloon1-right:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #99FF66;
}

.balloon1-right p {
  margin: 0;
  padding: 0;
}





p.mb5 {
line-height: 1.5;
    margin-bottom: 5em;
font-size: 10px;

}



p.other {
line-height: 1.5;
margin-bottom: 5em;
font-size: 10px;
margin-left : 110px;

}




.balloon1-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}

.balloon1-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.balloon1-left p {
  margin: 0;
  padding: 0;
}








.balloon5 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

.balloon5 .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}

.balloon5 .faceicon img{
  width: 100%;
  height: auto;
  border: solid 3px #d7ebfe;
  border-radius: 50%;
}

.balloon5 .chatting {
  width: 100%;
}

.says {
  display: inline-block;
  position: relative; 
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #d7ebfe;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px; 
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #d7ebfe;
}

.says p {
  margin: 0;
  padding: 0;
}






.mycomment {
  margin: 10px 0;
}
.mycomment p {
  display: inline-block;
  position: relative; 
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px:
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}









.scroll{
    overflow-y: scroll;
 -ms-overflow-style: none;

    height: 400px;
    hidden: true;
}
div#scroll-inner{


       
		
}












.table{
  width: 100%;
  border-collapse:separate;
  border-spacing: 0;
}

.table th:first-child{
  border-radius: 5px 0 0 0;
}

.table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

.table th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 25%;
  padding: 10px 0;
}

.table td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 0;
}

.table td:last-child{
  border-right: 1px solid #a8b7c5;
}

.table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

.table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}





